@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --Blue: hsl(246, 80%, 60%);
    --Light-red/*(work)*/: hsl(15, 100%, 70%);
    --Soft-blue/*(play)*/: hsl(195, 74%, 62%);
    --Light-red/*(study)*/: hsl(348, 100%, 68%);
    --Lime-green/*(exercise)*/: hsl(145, 58%, 55%);
    --Violet/*(social)*/: hsl(264, 64%, 52%);
    --Soft-orange /*(self care)*/: hsl(43, 84%, 65%);
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturate-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: white;
}
body{
    background-color: var(--Very-dark-blue);
}
.user-card-top img{
    width: 25%;
    height: auto;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'user-card work play study'
    'user-card exercise social self-care'
    ;
    gap: 1rem;
}
.user-card{
    grid-area: user-card;
}
.work{
    grid-area: work;
}
.play{
    grid-area: play;
}
.study{
    grid-area: study;
}
.exercise{
    grid-area: exercise;
}
.social{
    grid-area: social;
}
.self-care{
    grid-area: self-care;
}
.attribution{ 
    font-size: 16px; 
    text-align: center; 
    color: white;
}
    
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}